# Copy this file to buildProfiles/26.1.2.properties when you are ready to build against the new Minecraft version format.
minecraft_version=26.1.2
minecraft_compat_label=26.1.2
minecraft_version_range_fabric=>=26.1.2 <26.1.3
minecraft_version_range_mods_toml=[26.1.2,26.1.3)
java_version=21
curseforge_java_versions=Java 21

enable_fabric=true
enable_quilt=true
enable_forge=true
enable_neoforge=true

fabric_loader_version=0.18.4
loader_version=0.18.4
fabric_version=0.+

forge_version=64.0.7
forge_loader_version=[64,)

neoforge_version=26.1.+
neoforge_loader_version=[26.1,)
